<h1 class="text-center mb-3">
    {{title}}
</h1>

<form action="/search" method="GET" class="mb-4" <div class="form-group">
    <div class="input-group mb-3">
        <input type="text" name="query" class="form-control" placeholder="Recipient's username"
            aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
        </div>
    </div>
</form>
<form action="/search-history" method="GET" class="mb-4" <div class="form-group">
    <button type="submit" class="btn btn-primary">View previous search
        results</button>
</form>